body{
    font-family: sans-serif;
    background-color: #F4F4F5;
}

.header__logo{
    height: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-button{
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #0077FF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.about__btn{
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #050505;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.form__group{
    display: flex;
    flex-direction: column;
}

.info__form{
    width: 300px;
}


