body{
    font-family: sans-serif;
    background-color: #F4F4F5;
}

.header__logo{
    height: 30px;
}

.header__links{
    display: flex;
    gap: 34px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.top-button{
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #0077FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 150px;
}

a{
    text-decoration: none;
    color: black;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 250px;
}

.about__btn{
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #050505;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.form__group{
    display: flex;
    gap: 5px;
}

.form__check{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(230, 229, 229);
    border-radius: 5px;
}

.form__check label{
    display: flex;
    justify-content: space-between;
}

.form__format{
    border: none;
    border-radius: 5px;
    color: rgb(143, 143, 143);
}

.info{
    display: flex;
    padding-top: 15px;
}

.info__form{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #fff;
    width: 30vw;
}

.info__cards{
    width: 70vw;
}

.cards{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 10px;
}

#card-1{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 10px;

}

#card-2{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 18px;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 10px;

}

span{
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    background: blue;
    border-radius: 24px;
    color: white;
    padding: 0 10px;
    transform: rotate(15deg);
}

.cards__row{
    display: flex;
    justify-content: space-evenly;
}

#row-2{
    padding-top: 15px;
}

.card-logo{
    width: 20px;
    padding-right: 10px;
}
.cards p{
    font-size: 15px;
}

.place{
    color: rgb(143, 143, 143);
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px;
}

.footer__button{
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #0077FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.footer__links{
    display: flex;
    flex-direction: column;
}



